solution according to map

In [169]:
import numpy as np
import pandas as pd

In [170]:
d=pd.read_csv("Berlin-tram-route - Sheet1.csv")

$\huge{ \text{note :- given data is incorect so first} \\  \text{i corrected the data according to map then solved it }}$


as M4 M17 has intesection M5 12 has intesection 27 68 has intersection M5 and 27 has intersection  that is not mention in data

In [171]:
d.fillna(0)

,route,M1,M2,M4,M5,M6,M8,M10,12,M13,...,21,27,37,50,60,61,62,63,67,68
0,M1,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,M2,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,M4,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,M5,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,M6,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,M8,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,M10,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,12,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,M13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,16,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,M17,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
11,18,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,21,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
13,27,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
14,37,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
15,50,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
17,61,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
18,62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
19,63,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
20,67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
21,68,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0

In [172]:
da=np.array(d.fillna(0))

In [173]:
data=da[:,1:24]

In [174]:
route=np.array(d.keys()[1:24])

In [175]:
index={}
z=0
for i in route:
  index[i]=z
  z+=1

In [176]:
def check_intersection(a,b):
  if data[index[str(a)]][index[str(b)]]==1:
    return True
  else:
    return False

In [177]:
colour=['white','red','blue','green','black','orange','yellow','pink','brown','purple','gray','golden','navy','maroon']
colour1=colour.copy()

In [178]:
route3=list(route)
for k in range(len(colour)):
  colour[k]=[]
  colour[k].append(str(route3[0]))
  route3.remove(str(route3[0]))
  for i in route3:
    if sum(check_intersection(str(i),str(j)) for j in colour[k]) == 0:
      colour[k].append(i)
      route3.remove(i)
  if len(route3)==0:
        break

In [179]:
for i in range(len(colour)):
  print(colour1[i]+'  '+'colour is used for',colour[i])

white  colour is used for ['M1', 'M2', '16', '18', '37', '61']
red  colour is used for ['M4', '21', '50', '62']
blue  colour is used for ['M5', '60']
green  colour is used for ['M6', '12', '63']
black  colour is used for ['M8', '67']
orange  colour is used for ['M10', 'M17', '68']
yellow  colour is used for ['M13', '27']
pink  colour is used for pink
brown  colour is used for brown
purple  colour is used for purple
gray  colour is used for gray
golden  colour is used for golden
navy  colour is used for navy
maroon  colour is used for maroon

$\huge{solution  \ \ of \ \ 1}$

I used 7 different colours for easily track

white  colour is used for ['M1', 'M2', '16', '18', '37', '61']

red  colour is used for ['M4', '21', '50', '62']

blue  colour is used for ['M5', '60']

green  colour is used for ['M6', '12', '63']

black  colour is used for ['M8', '67']

orange  colour is used for ['M10', 'M17', '68']

yellow  colour is used for ['M13', '27']

$\huge{solution \ \ of \ \ 2} $

first i assign first route M1 by a colour then check for second if it is intersected with first then assigned different colour otherwise same colour for second 

similarlly for 3rd and onward i checked it is intesected with group of route(by choosing different colour i got a group of route that assign with same colour) which is assigned previous if intersected then create a new group of different colour and assigned route and checked for each route if it is intersected with each colour group(group of route that assign with same colour) then create other colour group(group of route that assign with same colour) otherwise put in the that colour group in which no one intersecting with new route and so on


if we got a larger data just put it in code (code is not changed ) we got their route assigned colour for that since data is large only i have to add some more colour in colour list if require more colour  remains code is same for every data

$\huge{4.}$Will your procedure work if route information is provided to you one at a time? This means that
routes are specified one at a time and you can only check whether they intersect with the routes
already given to you (i.e. you don’t know the entire route information at the beginning).

$\huge{solution \ \ \ of \ \ \ 4}$

yes my procedure works also in that condition

![Screenshot 2022-09-08 091302.png]()

$\huge{ solution \ \ \   of \ \ \  5 }$

$ \huge{\text{above  picture is counter example for 5 in the figure}  \\ \text{if n>2 otherwise for 2 route we have to choose minimum two colour }  \\ \\ \text{i used only 2 colour to assign n route}}$

$\Huge{\text{solution accordind to csv file}}$

In [180]:
d1=pd.read_csv("Berlin-tram-route - Sheet1 (1).csv")

In [181]:
da1=np.array(d1.fillna(0))

In [182]:
data1=da1[:,1:24]

In [183]:
route1=np.array(d1.keys()[1:24])

In [184]:
index1={}
z=0
for i in route1:
  index1[i]=z
  z+=1

In [185]:
def check_intersection1(a,b):
  if data1[index1[str(a)]][index1[str(b)]]==1:
    return True
  else:
    return False

In [186]:
colour2=['white1','red1','blue1','green1','black1','orange1','yellow1','pink1','brown1','purple1','gray1','golden1','navy1','maroon1']
colour3=colour2.copy()

In [187]:
route4=list(route1)
for k in range(len(colour2)):
  colour2[k]=[]
  colour2[k].append(str(route4[0]))
  route4.remove(str(route4[0]))
  for i in route4:
    if sum(check_intersection1(str(i),str(j)) for j in colour2[k]) == 0:
      colour2[k].append(i)
      route4.remove(i)
  if len(route4)==0:
        break

In [188]:
for i in range(len(colour2)):
  print(colour3[i]+'  '+ 'colour is used for',colour2[i])

white1  colour is used for ['M1', 'M2', '16', '18', '37', '61']
red1  colour is used for ['M4', 'M17', '50', '62']
blue1  colour is used for ['M5', '12', '21', '63']
green1  colour is used for ['M6', '60']
black1  colour is used for ['M8', '67']
orange1  colour is used for ['M10', '27']
yellow1  colour is used for ['M13', '68']
pink1  colour is used for pink1
brown1  colour is used for brown1
purple1  colour is used for purple1
gray1  colour is used for gray1
golden1  colour is used for golden1
navy1  colour is used for navy1
maroon1  colour is used for maroon1

$\huge{solution  \ \ of \ \ 1}$

I used 7 different colours for easily track

white1  colour is used for ['M1', 'M2', '16', '18', '37', '61']

red1  colour is used for ['M4', 'M17', '50', '62']

blue1  colour is used for ['M5', '12', '21', '63']

green1  colour is used for ['M6', '60']

black1  colour is used for ['M8', '67']

orange1  colour is used for ['M10', '27']

yellow1  colour is used for ['M13', '68']

$\huge{solution \ \ of \ \ 2} $

first i assign first route M1 by a colour then check for second if it is intersected with first then assigned different colour otherwise same colour for second 

similarlly for 3rd and onward i checked it is intesected with group of route(by choosing different colour i got a group of route that assign with same colour) which is assigned previous if intersected then create a new group of different colour and assigned route and checked for each route if it is intersected with each colour group(group of route that assign with same colour) then create other colour group(group of route that assign with same colour) otherwise put in the that colour group in which no one intersecting with new route and so on


if we got a larger data just put it in code (code is not changed ) we got their route assigned colour for that since data is large only i have to add some more colour in colour list if require more colour  remains code is same for every data

$\huge{4.}$Will your procedure work if route information is provided to you one at a time? This means that
routes are specified one at a time and you can only check whether they intersect with the routes
already given to you (i.e. you don’t know the entire route information at the beginning).

$\huge{solution \ \ \ of \ \ \ 4}$

yes my procedure works also in that condition

![Screenshot 2022-09-08 091302.png]()

$\huge{ solution \ \ \   of \ \ \  5 }$

$ \huge{\text{above  picture is counter example for 5 in the figure}  \\ \text{if n>2 otherwise for 2 route we have to choose minimum two colour }  \\ \\ \text{i used only 2 colour to assign n route}}$